.img{
  width: 400px;
  height:320px;
  border-radius: 5px;
  margin: 5px 5px;
  border: 1px solid rgb(234, 146, 32);
}
.product{
  width: 410px;
 /*  height: 330px; */
  border-radius:5px;
  border:2px solid rgb(249, 206, 206);
  position: relative;
}
.title{
  font-size: 25px;
  margin-top: 0px;
}
.product-discription{
 margin-left: 12px;
 font-size: 16px;
 margin-top: 0px;
}
.btn{
  background-color: pink;
  width: 100%;
  padding: 12px;
  border: none;
  position: absolute;
  bottom: 0px;
}