.img{
  width: 300px;
  height:250px;
  border-radius: 5px;
  margin: 5px 5px;
  border: 1px solid rgb(234, 146, 32);
}
.product{
  width: 310px;
  height: 470px;
  border-radius:5px;
  border:2px solid rgb(249, 206, 206);
  position: relative;
}
.title{
  font-size: 25px;
  margin-top: 0px;
}
.product-discription{
 margin-left: 12px;
 font-size: 16px;
 margin-top: 0px;
}
.btn{
  background-color: rgb(245, 127, 147);
  width: 100%;
  padding: 12px;
  border: none;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 16px;
}
.btn:hover{
  background-color: orange;
  color: rgb(0, 28, 19);
}